.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}

/* Estilo del contenedor de detalles de la película */
#movieDetails {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    display: none; /* Inicialmente oculto */
    transition: all 0.3s ease-in-out; /* Animación suave */
  }
  
  /* Estilo de los elementos dentro del contenedor de detalles */
  #movieDetails h2 {
    font-size: 24px;
    margin: 0;
  }
  
  #movieDetails p {
    margin: 5px 0;
  }
  
  /* Cambio de cursor al hacer clic en una película */
  .list-group-item {
    cursor: pointer;
  }
  
  /* Estilo para resaltar la película seleccionada */
  .list-group-item.selected {
    background-color: #f0f0f0;
  }

/* Estilo para las estrellas llenas (amarillas) */
.fa-star {
    color: yellow;
  }
  
  /* Estilo para las estrellas vacías (amarillas) */
  .fa-star-o {
    color: rgb(255, 255, 255);
    
  }
  
  /* Contenedor para las estrellas y estilo para las estrellas */
  .star-rating {
    display: flex;
    flex-direction: row-reverse; /* Invierte la dirección de los elementos */
    align-items: center; /* Centra verticalmente las estrellas en el contenedor */
  }
  
  .star-rating .fa-star {
    font-size: 20px; /* Tamaño de fuente de las estrellas */
    margin-left: 5px; /* Espacio entre las estrellas */
  }

  .movie-item {
    background-color: rgba(0, 0, 0, 0.183);
    color: white;
  }


  .movie-title {
    cursor: pointer;
  }

  .full-width-modal {
    width: 100%;
    margin: auto;
    
    margin-top: -40px; /* Ajusta la cantidad de margen superior según tus necesidades */
  }